In [1]:
import openpyxl
import pandas as pd

In [9]:
report_path = "./data/risk_analysis_report.xlsx"

In [10]:
wb = openpyxl.load_workbook(report_path)

sheet_names = wb.sheetnames
sheet_names

['View 1_Summary',
 'View 1_DNCA_97_positionStd_20',
 'View 1_DNCA_97_positionStd_202',
 'View 1_DNCA_58_positionStd_20',
 'View 1_DNCA_58_positionStd_202',
 'View 1_DNCA_57_positionStd_20',
 'View 1_DNCA_57_positionStd_202',
 'View 1_DNCA_97_CountryofRiskD',
 'Statistic Definitions',
 'Risk Settings']

In [14]:
sheet_name = 'View 1_DNCA_97_positionStd_20'
df = pd.read_excel(report_path, sheet_name=sheet_name)

In [16]:
df.head(100)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,0,Instrument 76,ID A76,-1540,-739200.0,EUR,0,0,-0.015244,...,Position FO,DNCA_97,642153536,PTF 1,NaN,642153536,11854375,11854375,PTF 1,NaN
96,NaN,0,Instrument 77,ID A77,-1540,-1478400.0,EUR,0,0,-0.030487,...,Position FO,DNCA_97,642153539,PTF 1,NaN,642153539,11854356,11854356,PTF 1,NaN
97,NaN,0,Instrument 78,ID A78,-1123,0,EUR,0,0,0,...,Position FO,DNCA_97,601127063,PTF 1,NaN,601127063,11854289,11854289,PTF 1,NaN
98,NaN,0,Instrument 79,ID A79,-140,-327600.0,EUR,0,0,-0.006756,...,Position FO,DNCA_97,646143650,PTF 1,NaN,646143650,11854313,11854313,PTF 1,NaN
99,NaN,0,Instrument 80,ID A80,-140,-806400.000939,EUR,0,0,-0.016629,...,Position FO,DNCA_97,646143653,PTF 1,NaN,646143653,11854333,11854333,PTF 1,NaN